{% extends 'base.html' %}

{% block main %}
<div class="centre">
    {% include 'flash.html' %}
    <div>
        <img class="encadre" src="/{{tabS.imageT}}">
    </div>
    <div class="descTab">
        <h1 class="police">{{tabS.nomT}}</h1>
        <p>{{tabS.descT}}</p>
        <p>{{tabS.dateT}}</p>
        <a href="/ajoutTableau/{{tabS.idT}}"><input class="button" type="button" value="Ajouter à ma liste"/></a>
        <a href=""><input class="button" type="button" value="Retirer de ma liste"/></a>
    </div>
</div>
{% endblock %}