body{
    background-color:azure;
}

.menu{
    background-color:wheat;
}

.menu ul li{
    list-style-type: none;
}


.TitreAccueil{
    top:10%;
    left:50%;
    text-align: center;
    background-color: wheat;
    
}