body {
    background: rgb(254,212,78);
    background: linear-gradient(45deg, rgba(254,212,78,1) 11%, rgba(252,220,146,1) 46%, rgba(255,220,119,1) 87%);
    /* background-image: url("https://cdn.pixabay.com/photo/2021/12/25/19/28/fractal-6893759_960_720.jpg"); */
    /* background-size: cover; */
    /* width: 100vw; */
    /* margin: 0; */
}

.goldShadow{
    color: gold;
    text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em yellow;
}

.menu{
    position: absolute;
    font-size: 1.25em;
    text-align: center;
    opacity: 0.75;
    background-color:whitesmoke;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.connexion{
    width: 20em;
}
.inscription{
    width: 30em;
}

.flex{
    display: flex;
}

.milieu{
    justify-content: center;
}

.gauche{
    margin-right: 1em;
}

.droite{
    margin-left: 1em;
}

.grid3x3{
    margin-top: -1em;
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.image{
    width:3em;
    height:3em;
    margin:4px;
    border: 1px solid black;
}

.pp{
    width:5em;
    height:5em;
    border:2px solid black;
}

/* .menu ul{
    font-size: 3vh;
    display:contents;
    list-style-type: none;
}
.menu ul a:hover{
    background: yellow;
} */

.titre{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: whitesmoke;
    opacity: 0.75;
    width: 100%;
    text-align: center;
}

nav{
    /* border:1px solid black; */
    position: absolute;
    left: 5%;
    top:20%;
    transform: translate(-50%);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    /* border:1px solid black; */
    background: rgb(254,212,78);
    background: linear-gradient(45deg, rgba(254,212,78,1) 11%, rgba(252,220,146,1) 46%, rgba(255,220,119,1) 87%);
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.5s;
}
nav:hover{
    transition:0.75s;
    left:5%;
    top:20%;
    border-radius: 0%;
    height: 200px;
    width: 120px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
}
nav ul{
    list-style-type:none;
}
nav:hover ul{
    transition: 0.75s;
    list-style-type: none;
    position: absolute;
    /* top:50%; */
    left:-18%;
    top:-10%;
    /* transform:translate(0,-100%); */
}
nav ul li a{
    display:none;
    text-decoration: none;
}
nav:hover ul li a{
    display: block;
    color: black;
    text-align: center;
    /* transition: transform 0.5s; */
    padding: 15px 10px;
    text-decoration: none;
    /* border: 1px solid black; */
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 10px;
    border-radius:20px;
}
nav:hover ul li a{
    background-color: whitesmoke;
    /* transform: scale(1.5); */
}
nav:hover ul li a:hover{
    background-color: gold;
    transition: 0.75s;
    /* transform: scale(1.5); */
}

.active{
    background-color: gold;
    border-radius:20px;
}

.gallerie{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 80vw;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 5px solid white;
    background-color:  #6f6f6f;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.grid{
    display:grid;
    grid-template-columns: repeat(4,20vw);
}

.centre{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #6f6f6f;
    text-align: center;
    padding: 1em;
    border: 10px solid gold;
    border-radius: 1em;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.centre img{
    width: 25%;
}

.descTab{
    margin-top: 1em;
    text-align: center;
    border: 5px solid white;
    border-radius: 1em;
    background-color: whitesmoke;
}

.police{
    font-family: 'Satisfy', cursive;
}

.policeButton{
    font-family: 'Orbitron', sans-serif;
}

.encadre{
    border: 10px solid white;
    width: 50%;
    box-shadow: 3px 3px 5px black;
    transition: 500ms ease;
}

.gallerie img:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5) translateY(15%);
    transition: 500ms ease;
    box-shadow: 12px 12px 20px black;
}

.button {
    font-weight: bold;
    color:black;
    background-color: #ffc861d2;
    border: none;
    border-radius: .5em;
    padding: 10px 22px;
    text-align: center;
    font-size: 0.75em;
    box-shadow: 0 .25em 1em #c698669e;
    transition: 0.75s ease;
}

.button:hover {
    background-color: #ffc961;
    box-shadow: 0 .4em 1em #e3b45d;
    transition: 0.75s ease;
}

.flashes {
    color: red;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
}