<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Satisfy&display=swap" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/navigation.css" rel="stylesheet">
    <script src="/static/scripts.js"></script>
    <title>{{title}}</title>
</head>

<body>
    <nav>
        <ul>
            <li><a class="police {% if page=='Accueil' or page=='Connexion' or page=='Nouveau compte' %} active {% endif %}" href="/">Accueil</a></li>
            <li><a class="police {% if page=='Gallerie' %} active {% endif %}" href="/listeTableaux">Gallerie</a></li>
            <li><a class="police {% if page=='Ma liste' %} active {% endif %}" href="/liste">Ma liste</a></li>
            <li><a class="police {% if page=='Profil' or page=='ModificationP' or page=='ModificationMDP' %} active {% endif %}" href="/profil">Profil</a></li>
            <li><a class="police {% if page=='Contact' %} active {% endif %}" href="/contact">Contact</a></li>
        </ul>
    </nav>
    {% block main %}
    {% endblock %}
</body>
</html>