{% extends 'base.html' %}

{% block main %}
<div class="menu connexion">
    <h1 class="police">Connexion</h1>
    <form action="/connexion" method="POST">
        <p class="police">Adresse Mail <br/><input type="text" style="width:15em;text-align:center;" name="mail"/>
        <p class="police">Mot de passe <br/><input type="password" style="width:15em;text-align:center;" name="mdp"/></p>
        <input class="policeButton button" type="submit" value="Connexion"/>
    </form>
    <p><a class="policeButton" href="inscription">Créer un compte</a></p>
</div>
{% endblock %}