{% extends 'base.html' %}

{% block main %}
<div class="titre">
    <h1 class="police">Contact</h1>
</div>
{% if session['mail'] %}
    <div class="flex miniProfil">
        <div>
            <img class="pp" style="width:4em;height:4em;" src="{{session['image']}}"/>
        </div>
        <div style="margin-top:-7px;margin-left:10px;">
            <p class="police">{{session['nom']}}</p>
            <p class="police" style="margin-top:-10px;">{{session['prenom']}}</p>
        </div>
    </div>
{% endif %}
<div class="menu">
    <div class="flex milieu">
        <div class="gauche">
            <h1 class="police">Reynier Hélène</h1>
            <p style="text-align: center;">coordonnée</p>
            <p style="text-align: center;">coordonnée</p>
            <p style="text-align: center;">coordonnée</p>
            <p style="text-align: center;">coordonnée</p>
            <p style="text-align: center;">coordonnée</p>
            <p style="text-align: center;">coordonnée</p>
        </div>
        <div style="border:1px solid black;margin:.5em;"></div>  
        <div class="droite">
            <img class="imgContact" src="static/contact.png"/>
        </div>
    </div>
</div>
{% endblock %}