{% extends 'base.html' %}

{% block main %}
<div class="menu">
    <div class="flex milieu">
        <div class="gauche">
            <h1 class="police">Reynier Hélène</h1>
            <p class="police">Passionée de peinture <br/>Je pratique la peinture depuis maintenant plus de 6 ans,<br/> je partage ma passion avec vous !</p>
            <br/><br/>
            <p style="text-align:left;">Téléphone : 06 48 13 93 96 
                <br/>Mail : helene.reynier23@gmail.com 
                <br/>Instagram : <a href="https://www.instagram.com/ghisl.elen_/">ghisl.elen_</a>
            </p>
        </div>
        <div style="border:1px solid black;margin:.5em;"></div>  
        <div class="droite">
            <img class="imgContact" src="static/image/contact.png"/>
        </div>
    </div>
</div>
{% endblock %}