{% extends 'base.html' %}

{% block main %}
<div class="menu">
    <h1 class="titreTab">Bienvenue sur Dorey</h1>
    {% if not session['mail'] %}
    <a href="/connexion"><input class="button" type="button" value="Connexion"/></a>
    {% else %}
    <p class="titreTab">Bonjour, {{session['prenom']}} {{session['nom']}}</p>
    <p>Pour consulter les tableaux -> Gallerie </p>
    <p>Pour me contacter -> Contact </p>
    <a href="/deconnexion"><input class="button" type="button" value="Deconnexion"/></a>
    {% endif %}
</div>
{% endblock %}