{% extends 'base.html' %}

{% block main %}
<div class="menu">
    <h1 class="police">Bienvenue sur Dorey</h1>
    {% if not session['mail'] %}
    <a href="/connexion"><input class="policeButton button" type="button" value="Connexion"/></a>
    {% else %}
    <p class="police">Bonjour, {{session['prenom']}} {{session['nom']}}</p>
    <p><img class="pp" src="{{session['image']}}"/></p>
    <a href="/deconnexion"><input class="policeButton button" type="button" value="Deconnexion"/></a>
    {% endif %}
</div>
{% endblock %}