{% extends 'base.html' %}

{% block main %}
<div class="menu inscription">
    <h1>Création d'un compte</h1>
    <form action="/inscription" method="POST">
        <p><input type="text" style="width:15em;text-align:center;" nom="nom" placeholder="Nom"/>
            <input type="text" style="width:15em;text-align:center;" nom="prenom" placeholder="Prénom"/></p>
        <p><input type="text" style="width:15em;text-align:center;" nom="mail" placeholder="Adresse mail"/></p>
        <p><input type="text" style="width:15em;text-align:center;" nom="mdp" placeholder="Mot de passe"/></p>
        <input class="button" type="submit" value="Créer un compte"/>
    </form>
</div>
{% endblock %}