{% extends 'base.html' %}

{% block main %}
<div class="gallerie">
    {% if tab == [] %}
        <p class="police">Ajoutez vos tableaux préférés ici !</p>
    {% else %}
        <div class="grid">
            {% for tableau in tab %}
            <div class="tableau">
                <p class="goldShadow nomTableau police">{{tableau.nomT}}</p>
                <a href="/tableau/{{tableau.idT}}"><img class="encadre" src={{tableau.imageT}}></a>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}