{% extends 'base.html' %}

{% block main %}
<div class="menu">
    <form action="{{ url_for('modifierMDP', id=profil.mail)}}" method="POST">
        <p class="police">Ancien mot de passe <br/><input type="password" style="width:15em;text-align:center;" name="ancien_mdp" /></p>
        <p class="police">Nouveau mot de passe <br/><input type="password" style="width:15em;text-align:center;" name="nouveau_mdp" /></p>
        <input class="button" type="submit" value="Modifier mon mot de passe"/>
    </form>
</div>
{% endblock %}